.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0f172a;
    width: 1512px;
    height: 982px;
}
.company-create-form-child {
    position: absolute;
    height: 4.05%;
    width: 3.31%;
    top: 0%;
    right: -0.02%;
    bottom: 95.95%;
    left: 96.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.company-create-form-item {
    position: absolute;
    height: 4.05%;
    width: 3.31%;
    top: 0%;
    right: 6.59%;
    bottom: 95.95%;
    left: 90.1%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.company-create-form-inner {
    position: absolute;
    height: 4.05%;
    width: 3.31%;
    top: 0%;
    right: 3.28%;
    bottom: 95.95%;
    left: 93.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tax-invoice-supply {
    position: relative;
    line-height: 20px;
}
.tax-invoice-supply-outward-wrapper {
    position: absolute;
    top: 20px;
    left: calc(50% - 55px);
    border-radius: 0px 0px 2px 2px;
    background-color: #1d2537;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
    color: #667085;
}
.text {
    position: relative;
    line-height: 18px;
}
.button-select {
    position: absolute;
    top: calc(50% + 410.5px);
    left: calc(50% - 666px);
    border-radius: 4px;
    background: linear-gradient(180deg, #fff, #c1c1c1 60.76%, #999);
    width: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 35px;
    box-sizing: border-box;
}
.button-select1 {
    position: absolute;
    top: calc(50% + 410.5px);
    left: calc(50% + 514px);
    border-radius: 4px;
    background: linear-gradient(180deg, #fff, #c1c1c1 60.76%, #999);
    width: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 35px;
    box-sizing: border-box;
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.table-cell-child {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 0px;
    height: 22px;
}
.dupliacte-nameempty-fields {
    position: absolute;
    top: 8px;
    left: 399px;
    line-height: 24px;
}
.table-cell {
    position: absolute;
    height: 61.54%;
    width: 100%;
    top: 38.46%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.company-name {
    position: absolute;
    height: 38.46%;
    width: 30.12%;
    top: 0%;
    left: 0%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #3e507b;
    display: inline-block;
}
.table-cell-parent {
    width: 571px;
    position: relative;
    height: 65px;
    font-size: 12px;
    color: #ff0101;
}
.station-name {
    position: absolute;
    height: 38.46%;
    width: 30.12%;
    top: 0%;
    left: 0%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.table-cell-group {
    width: 571px;
    position: relative;
    height: 65px;
}
.address {
    position: absolute;
    height: 38.46%;
    width: 18.91%;
    top: 0%;
    left: 0%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.contact-no-1 {
    position: absolute;
    height: 38.46%;
    width: 38.57%;
    top: 0%;
    left: 0%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.group-div {
    width: 280px;
    position: relative;
    height: 65px;
}
.table-cell4 {
    position: absolute;
    top: 25.14px;
    left: 0px;
    border-radius: 3px;
    background-color: #0f172a;
    width: 280px;
    height: 40px;
    overflow: hidden;
}
.table-cell-parent1 {
    width: 280px;
    position: relative;
    height: 65.1px;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.table-cell5 {
    position: absolute;
    height: 53.33%;
    width: 100%;
    top: 46.67%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.email-address {
    position: absolute;
    height: 33.33%;
    width: 66.43%;
    top: 0%;
    left: 0%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.table-cell-parent2 {
    width: 280px;
    position: relative;
    height: 75px;
}
.table-cell6 {
    position: absolute;
    top: 35.14px;
    left: 0px;
    border-radius: 3px;
    background-color: #0f172a;
    width: 280px;
    height: 40px;
    overflow: hidden;
}
.pin-code {
    position: absolute;
    height: 33.42%;
    width: 61.64%;
    top: 0%;
    left: 1.07%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.table-cell-parent3 {
    width: 280px;
    position: relative;
    height: 75.1px;
}
.icon {
    position: absolute;
    top: calc(50% - 2px);
    left: 249px;
    width: 9px;
    height: 4px;
}
.country-flagsasiajapan-icon {
    width: 25.5px;
    position: relative;
    height: 25.5px;
    object-fit: cover;
}
.india {
    position: relative;
}
.country-flagsasiajapan-parent {
    position: absolute;
    top: 7px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
}
.country {
    position: absolute;
    height: 38.46%;
    width: 29.29%;
    top: 0%;
    left: 0%;
    line-height: 24px;
    font-weight: 500;
    font-family: Inter;
    display: inline-block;
}
.text2 {
    position: absolute;
    top: 11px;
    left: 18px;
    line-height: 20px;
}
.icon1 {
    position: absolute;
    top: calc(50% - 2px);
    left: 247px;
    width: 9px;
    height: 4px;
}
.table-cell8 {
    position: absolute;
    top: 25.14px;
    left: 0px;
    border-radius: 4px;
    background-color: #0f172a;
    width: 280px;
    height: 40px;
    overflow: hidden;
}
.state {
    position: absolute;
    height: 38.56%;
    width: 61.64%;
    top: 0%;
    left: 1.07%;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.table-cell-parent5 {
    width: 280px;
    position: relative;
    height: 65.1px;
    font-family: Inter;
}
.group-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans';
}
.text3 {
    position: absolute;
    top: 11px;
    left: 18px;
    line-height: 20px;
    font-weight: 500;
}
.text-wrapper {
    position: absolute;
    top: 13px;
    left: 76px;
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.currency {
    position: absolute;
    height: 38.56%;
    width: 61.64%;
    top: 0%;
    left: 1.07%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}
.table-cell-parent6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 65.1px;
}
.fy-start-month {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 179px;
    height: 25px;
}
.input {
    position: absolute;
    top: 25px;
    left: 0px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    background-color: #0f172a;
    width: 280px;
    height: 40px;
    overflow: hidden;
}
.fy-start-month-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 65px;
}
.icon3 {
    position: absolute;
    height: 7.69%;
    width: 3.71%;
    top: 64.39%;
    right: 7.64%;
    bottom: 27.92%;
    left: 88.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.april {
    position: absolute;
    width: 11.89%;
    top: 55.38%;
    left: 3.74%;
    font-size: 14.84px;
    display: inline-block;
}
.group-parent4 {
    position: absolute;
    top: 0px;
    left: 294px;
    width: 280px;
    height: 65px;
    font-size: 16px;
}
.group-parent3 {
    width: 574px;
    position: relative;
    height: 65.1px;
    font-size: 20px;
}
.group-container {
    position: absolute;
    top: 19px;
    left: 17px;
    width: 575px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.vector-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper {
    position: absolute;
    height: 93.48%;
    width: 100%;
    top: 6.52%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.company-info {
    position: relative;
    line-height: 24px;
}
.company-info-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #161e30;
    width: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.frame-wrapper {
    width: 155px;
    position: relative;
    height: 44px;
}
.bank-detail-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.other-detail {
    position: relative;
    line-height: 24px;
    white-space: pre-wrap;
}
.group-parent5 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #208cf8;
}
.group-parent {
    width: 620px;
    position: relative;
    height: 675px;
}
.blanck-info {
    position: absolute;
    top: 77px;
    left: 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    color: #3e507b;
}
.company-create-form {
    width: 100%;
    position: relative;
    height: 987px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-family: Inter;
}


.text5 {
    position: relative;
    line-height: 20px;
}
.text-container {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-frame {
    position: absolute;
    top: 29px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper1 {
    position: absolute;
    top: 58px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper2 {
    position: absolute;
    top: 87px;
    left: 6px;
    background-color: #1b2335;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
    color: #fff;
}
.text-wrapper3 {
    position: absolute;
    top: 116px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper4 {
    position: absolute;
    top: 145px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper5 {
    position: absolute;
    top: 174px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper6 {
    position: absolute;
    top: 203px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper7 {
    position: absolute;
    top: 232px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper8 {
    position: absolute;
    top: 261px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper9 {
    position: absolute;
    top: 290px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper10 {
    position: absolute;
    top: 319px;
    left: 6px;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.table-cell10 {
    position: absolute;
    height: 89.42%;
    width: 100%;
    top: 10.08%;
    right: 0%;
    bottom: 0.5%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.text17 {
    position: absolute;
    top: 9px;
    left: 13px;
    line-height: 20px;
}
.icon4 {
    position: absolute;
    top: calc(50% - 2px);
    left: 259px;
    width: 9px;
    height: 4px;
    object-fit: contain;
}
.table-cell11 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.table-cell-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-frame {
    position: absolute;
    height: 10.08%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 89.92%;
    left: 0%;
}
.month-list-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 282px;
    height: 397px;
}
.month-list {
    width: 282px;
    position: relative;
    height: 397px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    color: #3e507b;
    font-family: Inter;
}


.currency-symbol1 {
    width: 282px;
    position: relative;
    height: 216px;
    z-index: 0;
}
.text18 {
    position: absolute;
    top: 3px;
    left: 10px;
    line-height: 20px;
}
.text19 {
    position: absolute;
    top: 3px;
    left: 75px;
    line-height: 20px;
}
.text-parent {
    width: 269px;
    position: relative;
    height: 26px;
    flex-shrink: 0;
}
.text-group {
    width: 269px;
    position: relative;
    background-color: #1b2335;
    height: 26px;
    flex-shrink: 0;
    color: #fff;
}
.text36 {
    position: relative;
    line-height: 20px;
}
.text-wrapper11 {
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
    color: #ffb620;
}
.frame-parent {
    position: absolute;
    top: 8px;
    left: calc(50% - 134px);
    width: 269px;
    height: 293px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}
.table-cell12 {
    position: absolute;
    height: 91.79%;
    width: 100%;
    top: 8.21%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    overflow-y: auto;
}
.text37 {
    position: absolute;
    top: 3px;
    left: 18px;
    line-height: 20px;
}
.text-wrapper12 {
    position: absolute;
    top: 5px;
    left: 72px;
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
}
.icon5 {
    position: absolute;
    top: calc(50% - 1.95px);
    left: 259px;
    width: 9px;
    height: 4px;
    object-fit: contain;
}
.table-cell13 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.table-cell-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper1 {
    position: absolute;
    height: 7.87%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 92.13%;
    left: 0%;
    color: #fff;
}
.currency-list-inner {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 165.33%;
    top: 0%;
    right: 0%;
    bottom: -65.33%;
    left: 0%;
    z-index: 1;
}
.currency-list {
    position: relative;
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    color: #3e507b;
    font-family: Inter;
}


.table-cell14 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.group-wrapper11 {
    position: absolute;
    height: 89.42%;
    width: 100%;
    top: 10.58%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.text44 {
    position: absolute;
    top: 9px;
    left: 13px;
}
.icon6 {
    position: absolute;
    top: calc(50% - 2px);
    left: 259px;
    width: 9px;
    height: 4px;
    object-fit: contain;
}
.table-cell15 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.group-wrapper13 {
    position: absolute;
    height: 10.08%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 89.92%;
    left: 0%;
}
.group-wrapper10 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.month-list-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 282px;
    height: 397px;
}
.text45 {
    position: relative;
    line-height: 20px;
}
.text-wrapper14 {
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.text-wrapper20 {
    width: 269px;
    background-color: #1b2335;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
    color: #fff;
}
.instance-parent {
    position: absolute;
    top: 45px;
    left: calc(50% - 135px);
    width: 269px;
    height: 351px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}
.state-code-list {
    width: 282px;
    position: relative;
    height: 397px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    color: #3e507b;
    font-family: Inter;
}


.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    background-color: #0f172a;
    width: 282px;
    height: 421px;
}
.icon7 {
    position: absolute;
    top: calc(50% - 1.6px);
    left: 250px;
    width: 9px;
    height: 4px;
    object-fit: contain;
}
.country-flagsasiajapan-icon1 {
    width: 25.5px;
    position: relative;
    height: 25.5px;
    object-fit: cover;
}
.country-flagsasiajapan-group {
    position: absolute;
    top: 7px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
}
.table-cell16 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.group-wrapper18 {
    position: absolute;
    height: 46.81%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 53.19%;
    left: 0%;
}
.text85 {
    position: relative;
    line-height: 20px;
}
.text-wrapper54 {
    position: absolute;
    top: 4px;
    left: 40px;
    width: 234px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.search-icon {
    position: absolute;
    height: 37.5%;
    width: 5.32%;
    top: 32.5%;
    right: 89.36%;
    bottom: 30%;
    left: 5.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.table-cell17 {
    position: absolute;
    top: calc(50% - 17.6px);
    left: calc(50% - 141px);
    border-radius: 3px;
    background-color: #0f172a;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    width: 282px;
    height: 35.2px;
    overflow: hidden;
}
.group-wrapper23 {
    position: absolute;
    top: calc(50% - 17.6px);
    left: calc(50% - 141px);
    width: 282px;
    height: 35.2px;
}
.group-wrapper22 {
    position: absolute;
    top: calc(50% + 2.4px);
    left: calc(50% - 141px);
    width: 282px;
    height: 35.2px;
    font-family: Inter;
}
.group-parent7 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper17 {
    position: absolute;
    height: 17.86%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 82.14%;
    left: 0%;
}
.country-flagsasiajapan-icon2 {
    width: 25.5px;
    position: relative;
    height: 25.5px;
}
.algeria {
    position: relative;
}
.country-flagsasiajapan-container {
    width: 260px;
    border-bottom: 0.3px solid #787878;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
}
.country-flagsasiajapan-parent65 {
    width: 260px;
    background-color: #1b1b35;
    border-bottom: 0.3px solid #787878;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
    color: #fff;
}
.albania {
    width: 48.8px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.frame-parent4 {
    position: absolute;
    top: 79px;
    left: calc(50% - 127px);
    height: 338px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}
.rectangle-parent {
    width: 284px;
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 423px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    color: #3e507b;
    font-family: 'Open Sans';
}


body {
    margin: 0;
    line-height: normal;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

