.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    background-color: #0f172a;
    width: 282px;
    height: 421px;
}
.icon7 {
    position: absolute;
    top: calc(50% - 1.6px);
    left: 250px;
    width: 9px;
    height: 4px;
    object-fit: contain;
}
.country-flagsasiajapan-icon1 {
    width: 25.5px;
    position: relative;
    height: 25.5px;
    object-fit: cover;
}
.country-flagsasiajapan-group {
    position: absolute;
    top: 7px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
}
.table-cell16 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #0f172a;
    overflow: hidden;
}
.group-wrapper18 {
    position: absolute;
    height: 46.81%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 53.19%;
    left: 0%;
}
.text85 {
    position: relative;
    line-height: 20px;
}
.text-wrapper54 {
    position: absolute;
    top: 4px;
    left: 40px;
    width: 234px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
    box-sizing: border-box;
}
.search-icon {
    position: absolute;
    height: 37.5%;
    width: 5.32%;
    top: 32.5%;
    right: 89.36%;
    bottom: 30%;
    left: 5.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.table-cell17 {
    position: absolute;
    top: calc(50% - 17.6px);
    left: calc(50% - 141px);
    border-radius: 3px;
    background-color: #0f172a;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    width: 282px;
    height: 35.2px;
    overflow: hidden;
}
.group-wrapper23 {
    position: absolute;
    top: calc(50% - 17.6px);
    left: calc(50% - 141px);
    width: 282px;
    height: 35.2px;
}
.group-wrapper22 {
    position: absolute;
    top: calc(50% + 2.4px);
    left: calc(50% - 141px);
    width: 282px;
    height: 35.2px;
    font-family: Inter;
}
.group-parent7 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper17 {
    position: absolute;
    height: 17.86%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 82.14%;
    left: 0%;
}
.country-flagsasiajapan-icon2 {
    width: 25.5px;
    position: relative;
    height: 25.5px;
}
.algeria {
    position: relative;
}
.country-flagsasiajapan-container {
    width: 260px;
    border-bottom: 0.3px solid #787878;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
}
.country-flagsasiajapan-parent65 {
    width: 260px;
    background-color: #1b1b35;
    border-bottom: 0.3px solid #787878;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12.1px;
    color: #fff;
}
.albania {
    width: 48.8px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.frame-parent4 {
    position: absolute;
    top: 79px;
    left: calc(50% - 127px);
    height: 338px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}
.rectangle-parent {
    width: 284px;
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 423px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    color: #3e507b;
    font-family: 'Open Sans';
}

